@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	background: #1d0404;
	font-family: Roboto, sans-serif;
	color: rgb(50, 8, 8);
	height: 100%;
	width: 100%;
	font-size: 1.1rem;
}

main {
	margin: 5rem 5rem;
	background: rgb(242, 235, 235);
	border-radius: 20px 20px 0 0;
	box-shadow: 10px 10px 20px #f6c5c5;
	border: 1px solid #d5d5d5;
	color: rgb(36, 10, 10);
}

main > h1 {
	font-weight: bold;
	padding: 1.5rem;
	margin: 0;
	border-bottom: 1px solid #d5d5d5;
	display: flex;
	justify-content: space-between;
}

#add-label {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d5d5d5;
	align-items: center;
	background: #856363;
	padding-right: 1.5rem;
}

#add-todo {
	box-sizing: border-box;
	margin: 0;
	margin-right: 1.5rem;
	font-size: 1.5rem;
	font-style: italic;
	background: #462222;
	color: white;
	padding: 1.5rem;
	font-size: 2rem;
	border: none;
	width: 100%;
}

#add-todo:focus {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul > li {
	padding: 1.5rem;
	border-bottom: 1px solid #d5d5d5;
	display: flex;
	justify-content: space-between;
}

ul > li > label {
	display: flex;
	gap: 1.5rem;
	font-size: 2rem;
}

.checkbox {
	height: 2rem;
	width: 2rem;
	margin: 0;
}

footer {
	background: #462222;
	padding: 1.5rem;
	display: flex;
	font-size: 2rem;
	justify-content: center;
}

footer > a {
	text-decoration: none;
	color: rgb(242, 239, 237);
	font-weight: bold;
	color: #888;
}

.header-icon {
	height: 2rem;
}

.icon {
	height: 1rem;
}

.edit-todo-form {
  background: lightyellow;
  padding: 1.5rem;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  justify-content: space-between;
}

.edit-todo-form > label {
  display: flex;
  gap: 1.5rem;
}

.edit-todo-input {
  border: none;
  background: lightyellow;
	font-size: 2rem;
}

.edit-todo-input:focus {
  outline: none;
}

.completed {
  text-decoration: line-through;
	font-size: 2rem;
}
